### List

In [1]:
# 빈 리스트 선언
animals = []

In [2]:
# 자료가 담긴 리스트 선언도 가능
animals = ["cat", "dog"]
animals

['cat', 'dog']

In [3]:
# 추가 시에는 append 사용
animals.append("hamster")
animals

['cat', 'dog', 'hamster']

In [4]:
animals.pop()

'hamster'

In [5]:
animals.insert(1, "hamster")
animals

['cat', 'hamster', 'dog']

In [6]:
animals.sort()
animals

['cat', 'dog', 'hamster']

In [7]:
numbers = [0, 1.6, 1, -91, -1, 10.9, 11, 10]
numbers.sort()
numbers

[-91, -1, 0, 1, 1.6, 10, 10.9, 11]

In [8]:
numbers.reverse()
numbers

[11, 10.9, 10, 1.6, 1, 0, -1, -91]

In [9]:
numbers = [0, 1.6, 1, -91, -1, 10.9, 11, 10]
numbers.sort(reverse=True)
numbers

[11, 10.9, 10, 1.6, 1, 0, -1, -91]

In [10]:
numbers.index(0)

5

In [11]:
numbers[:numbers.index(0)]

[11, 10.9, 10, 1.6, 1]

In [12]:
numbers[numbers.index(0) + 1:]

[-1, -91]

In [13]:
animals + numbers

['cat', 'dog', 'hamster', 11, 10.9, 10, 1.6, 1, 0, -1, -91]

In [14]:
numbers.extend([9, 16, 987])
numbers

[11, 10.9, 10, 1.6, 1, 0, -1, -91, 9, 16, 987]

In [15]:
0 in numbers

True

In [16]:
0 not in numbers

False

In [17]:
6 in numbers

False

In [18]:
6 not in numbers

True

In [19]:
if 0 in numbers:
  print("0 is in numbers")
else:
  print("0 is not in numbers")

0 is in numbers

In [20]:
for n in numbers:
  if n ==0:
    print("0 is in numbers")

0 is in numbers

In [21]:
numbers[1:4]

[10.9, 10, 1.6]

### Tuple

In [22]:
animals1 = ("cat", "dog")

In [23]:
animals2 = ("lion", "hamster")

In [24]:
animals1 + animals2

('cat', 'dog', 'lion', 'hamster')

In [25]:
animals1 * 3

('cat', 'dog', 'cat', 'dog', 'cat', 'dog')

In [26]:
x = 1
y = -1
(x, y) = (y , x)
print(f"x = {x}, y = {y}")

x = -1, y = 1

In [27]:
# List <-> Tuple

animals1 = list(animals1)
type(animals1)

list

In [28]:
animals1

['cat', 'dog']

In [29]:
animals1.append("hamster")

In [30]:
animals1.sort(reverse=True)
animals1

['hamster', 'dog', 'cat']

In [31]:
animals1 = tuple(animals1)
type(animals1)

tuple

In [32]:
animals1

('hamster', 'dog', 'cat')

### Practice 1

list와 tuple을 이용하여 다음의 문제를 해결하세요.

1. 변수 animals 에 다음의 자료를 입력하세요.
rabbit, cat, dog, aligator, tiger, lion
2. animals에 새로운 동물을 3마리 추가하세요.
3. animals를 알파벳 내림차순으로 정렬하세요.
4. 정렬된 animals의 짝수(index 기준) 동물을 even_animals에 할당하세요.

In [33]:
# List

animals = ["rabbit", "cat", "dog", "aligator", "tiger", "lion"]
animals.extend(["hamster", "bird", "chicken"])
animals.sort(reverse = True)
even_animals = animals[::2]
print(animals)
print(even_animals)

['tiger', 'rabbit', 'lion', 'hamster', 'dog', 'chicken', 'cat', 'bird', 'aligator']
['tiger', 'lion', 'dog', 'cat', 'aligator']

In [34]:
# Tuple

animals_t = ("rabbit", "cat", "dog", "aligator", "tiger", "lion")
animals_t = list(animals_t)
animals_t.extend(["hamster", "bird", "chicken"])
animals_t.sort(reverse = True)
animals_t = tuple(animals_t)
even_animals_t = animals_t[::2]
print(animals_t)
print(even_animals_t)

('tiger', 'rabbit', 'lion', 'hamster', 'dog', 'chicken', 'cat', 'bird', 'aligator')
('tiger', 'lion', 'dog', 'cat', 'aligator')

### Dictionary

In [35]:
#dic_tmp = {}
dic = {
    'name': 'John',
    'surname': 'Doe',
}

In [36]:
dic2 = dict([('name', 'John'), ('surname', 'Doe')])

In [37]:
dic['name']

'John'

In [38]:
dic2

{'name': 'John', 'surname': 'Doe'}

In [39]:
dic2['surname']

'Doe'

In [40]:
dic

{'name': 'John', 'surname': 'Doe'}

In [41]:
dic['loc'] = 'yeouido'

In [42]:
dic

{'name': 'John', 'surname': 'Doe', 'loc': 'yeouido'}

In [43]:
dic['email'] = 'dddd@gmail.com'
dic

{'name': 'John', 'surname': 'Doe', 'loc': 'yeouido', 'email': 'dddd@gmail.com'}

In [44]:
dic['midterm'] = {}
dic

{'name': 'John',
 'surname': 'Doe',
 'loc': 'yeouido',
 'email': 'dddd@gmail.com',
 'midterm': {}}

In [45]:
dic['midterm']['English'] = 100

In [46]:
dic

{'name': 'John',
 'surname': 'Doe',
 'loc': 'yeouido',
 'email': 'dddd@gmail.com',
 'midterm': {'English': 100}}

In [47]:
dic['midterm']['Math'] = 30
dic['midterm']['Korean'] = 80
dic['midterm']['Science'] = [10, 90, 0, 40]
dic

{'name': 'John',
 'surname': 'Doe',
 'loc': 'yeouido',
 'email': 'dddd@gmail.com',
 'midterm': {'English': 100,
  'Math': 30,
  'Korean': 80,
  'Science': [10, 90, 0, 40]}}

In [48]:
dic['midterm']['Korean'] = 100

In [49]:
dic

{'name': 'John',
 'surname': 'Doe',
 'loc': 'yeouido',
 'email': 'dddd@gmail.com',
 'midterm': {'English': 100,
  'Math': 30,
  'Korean': 100,
  'Science': [10, 90, 0, 40]}}

In [50]:
del dic['email']

In [51]:
dic

{'name': 'John',
 'surname': 'Doe',
 'loc': 'yeouido',
 'midterm': {'English': 100,
  'Math': 30,
  'Korean': 100,
  'Science': [10, 90, 0, 40]}}

In [52]:
dic.keys()

dict_keys(['name', 'surname', 'loc', 'midterm'])

In [53]:
dic.values()

dict_values(['John', 'Doe', 'yeouido', {'English': 100, 'Math': 30, 'Korean': 100, 'Science': [10, 90, 0, 40]}])

In [54]:
dic.items()

dict_items([('name', 'John'), ('surname', 'Doe'), ('loc', 'yeouido'), ('midterm', {'English': 100, 'Math': 30, 'Korean': 100, 'Science': [10, 90, 0, 40]})])

In [55]:
dic.pop('surname')

'Doe'

In [56]:
dic

{'name': 'John',
 'loc': 'yeouido',
 'midterm': {'English': 100,
  'Math': 30,
  'Korean': 100,
  'Science': [10, 90, 0, 40]}}

In [57]:
# Changed in version 3.7: LIFO order is now guaranteed. In prior versions, popitem() would return an arbitrary key/value pair.
dic.popitem()

('midterm',
 {'English': 100, 'Math': 30, 'Korean': 100, 'Science': [10, 90, 0, 40]})

In [58]:
#존재하지 않는 key를 조회하면 0이 return되도록 한 것
dic.get('English', 0)

0

In [59]:
dic

{'name': 'John', 'loc': 'yeouido'}

In [60]:
dic.setdefault('English', [])

[]

In [62]:
dic

{'name': 'John', 'loc': 'yeouido', 'English': []}

In [63]:
dic.setdefault('English', 0)

[]

In [65]:
dic

{'name': 'John', 'loc': 'yeouido', 'English': []}

In [66]:
len(dic)

3

In [70]:
dic.update({'loc': 'Republic of Korea', 'name': 'Jane'})
dic

{'name': 'Jane', 'loc': 'Republic of Korea', 'English': []}

In [71]:
contact = {'name':'Guido', 'country':'Netherland'}
print("{name} is born in {country}".format(**contact))

Guido is born in Netherland

### Set

In [72]:
faang = {'facebook', 'apple', 'amazon', 'netflix', 'google', 'google'}

In [73]:
faang

{'amazon', 'apple', 'facebook', 'google', 'netflix'}

In [74]:
split_str = set('facebook')
split_str

{'a', 'b', 'c', 'e', 'f', 'k', 'o'}

In [75]:
'microsoft' in faang

False

In [76]:
'apple' in faang

True

In [77]:
set_a = set('fastcampus')
set_b = set('shinhan')

print(set_a | set_b)
print(set_a & set_b)
print(set_a - set_b)
print(set_a ^ set_b)

{'h', 't', 'm', 'p', 'i', 'c', 'u', 'n', 'a', 's', 'f'}
{'a', 's'}
{'m', 't', 'p', 'c', 'u', 'f'}
{'h', 't', 'm', 'i', 'n', 'p', 'c', 'u', 'f'}

### Practice 2
dictionary와 set을 이용하여 다음 문제를 해결하세요.
1. 다음 인적사항을 입력하세요.
(list에 각 정보가 dict로 존재)
![image](https://user-images.githubusercontent.com/71377968/211449387-df0d399d-25f3-4cf8-9787-1e7adebd5304.png)
2. Jane Doe의 Locale을 London, UK 로 수정하세요.
3. list의 모든 아이템에 대해 key와 value를 모두 출력하세요.(반복문 쓰지 말 것)
4. 다음 list의 중복 아이템을 제거한 뒤, 내림차순으로 정렬하여 출력하세요.

```python
cities = ['Daejeon', 'Ulsan', 'Seoul', 'Jeju', 'Busan', 'Ulsan', 'Daegu', 'Daejeon', 'Seoul', 'Seoul', 'Daejeon', 'Gwangju', 'Busan', 'Daegu', 'Gwangju', 'Daejeon', 'Ulsan', 'Jeju', 'Gwangju', 'Seoul']
```

In [79]:
# 1
users = [
    {
        "name": "Jobnny Silverhand",
        "locale": "Night City",
        "age": 120,
        "username": "Johnny",
     },
    {
        "name": "John Doe",
        "locale": "CA, USA",
        "age": 40,
        "username": "Doh",
     },
    {
        "name": "Jane Doe",
        "locale": "Seoul, Korea",
        "age": 24,
        "username": "jane-doe",
     },
    {
        "name": "Foo Bar",
        "locale": "Busan, Korea",
        "age": 31,
        "username": "foo-bar",
     },
]

In [82]:
# 2

users[1]["locale"] = "London, UK"
users

[{'name': 'Jobnny Silverhand',
  'locale': 'Night City',
  'age': 120,
  'username': 'Johnny'},
 {'name': 'John Doe', 'locale': 'London, UK', 'age': 40, 'username': 'Doh'},
 {'name': 'Jane Doe',
  'locale': 'Seoul, Korea',
  'age': 24,
  'username': 'jane-doe'},
 {'name': 'Foo Bar',
  'locale': 'Busan, Korea',
  'age': 31,
  'username': 'foo-bar'}]

In [83]:
users[1].update({"locale": "Seoul, Korea"})
users

[{'name': 'Jobnny Silverhand',
  'locale': 'Night City',
  'age': 120,
  'username': 'Johnny'},
 {'name': 'John Doe', 'locale': 'Seoul, Korea', 'age': 40, 'username': 'Doh'},
 {'name': 'Jane Doe',
  'locale': 'Seoul, Korea',
  'age': 24,
  'username': 'jane-doe'},
 {'name': 'Foo Bar',
  'locale': 'Busan, Korea',
  'age': 31,
  'username': 'foo-bar'}]

In [87]:
# 3

print(0)
print(users[0].items())
print(1)
print(users[1].items())
print(2)
print(users[2].items())
print(3)
print(users[3].items())

0
dict_items([('name', 'Jobnny Silverhand'), ('locale', 'Night City'), ('age', 120), ('username', 'Johnny')])
1
dict_items([('name', 'John Doe'), ('locale', 'Seoul, Korea'), ('age', 40), ('username', 'Doh')])
2
dict_items([('name', 'Jane Doe'), ('locale', 'Seoul, Korea'), ('age', 24), ('username', 'jane-doe')])
3
dict_items([('name', 'Foo Bar'), ('locale', 'Busan, Korea'), ('age', 31), ('username', 'foo-bar')])

In [86]:
# 4

cities = ['Daejeon', 'Ulsan', 'Seoul', 'Jeju', 'Busan', 'Ulsan', 
          'Daegu', 'Daejeon', 'Seoul', 'Seoul', 'Daejeon', 'Gwangju', 
          'Busan', 'Daegu', 'Gwangju', 'Daejeon', 'Ulsan', 
          'Jeju', 'Gwangju', 'Seoul']
cities = set(cities)
cities = list(cities)
cities.sort(reverse = True)
cities

['Ulsan', 'Seoul', 'Jeju', 'Gwangju', 'Daejeon', 'Daegu', 'Busan']

### Conditional Statement

In [90]:
wallet = 2000
if wallet > 4000:
  print("Have some Samgim")
elif wallet > 1000:
  print("Eat chocolate")
else:
  print("Drink water")

Eat chocolate

### Conditional Expression
**Ternary Operator**

In [91]:
"a" if True else "b"

'a'

In [92]:
"a" if False else "b"

'b'

In [93]:
numbers = [1, 3, 5, 7, 9]
num = 0
"odd" if num in numbers else "even"

'even'

In [94]:
num = 1
"odd" if num in numbers else "even"

'odd'

In [98]:
weekdays = ["t", "w", "t", "f"]
user_input = "m"

"weekday" if user_input in weekdays else "hell" if user_input == "m" else "weekend"

hell

### Practice 3

사용자의 입력에 따라 윤년을 구분하기 (conditional statement)

In [100]:
year = int(input("Input the year what you want to know if it's leap year : "))

if year % 400 == 0:
  print(f"{year} is a leap year")
elif year % 100 == 0:
  print(f"{year} is not a leap year")
elif year % 4 == 0:
  print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Input the year what you want to know if it's leap year : 2100
2100 is not a leap year

### Loop
**for, while statement**

In [102]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [104]:
for i in range(1, 10 + 1):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [105]:
for c in "ShinhanProDigitalAcademy":
  print(c, end = ' ')

S h i n h a n P r o D i g i t a l A c a d e m y

In [106]:
for item in ["cat", "dog", "hamster"]:
  print(f"{item} is so cute")

cat is so cute
dog is so cute
hamster is so cute

In [108]:
for i in range(1, 100 + 1):
  if i % 2 == 0 or i % 3 == 0:
    continue
  elif i % 17 == 0:
    break
  else:
    print(f"{i} is survived")

1 is survived
5 is survived
7 is survived
11 is survived
13 is survived

In [110]:
i = 0
while i < 10:
  print(i)
  i += 1

0
1
2
3
4
5
6
7
8
9

In [114]:
user_input = ""

while user_input != "taco":
  user_input = input("What do you want for dinner? ")
  if user_input != "taco":
    print(f"I don't want to eat {user_input}.")
  else:
    print("Right Choice XD !!")
    break

What do you want for dinner? water
I don't want to eat water.
What do you want for dinner? gimbob
I don't want to eat gimbob.
What do you want for dinner? tacoyakki
I don't want to eat tacoyakki.
What do you want for dinner? ramen
I don't want to eat ramen.
What do you want for dinner? taco
Right Choice XD !!

### Fizzbuzz

In [117]:
dest = int(input("Input integer : "))

# 5를 위에 쓰면 읽는 elif문의 수가 많아짐
for i in range(1, dest + 1):
  if i % 15 == 0:
    print("fizzbuzz")
  elif i % 3 == 0:
    print("fizz")
  elif i % 5 == 0:
    print("buzz")
  else:
    print(i)

Input integer : 30
1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizzbuzz

In [124]:
dest = 20

for i in range(1, dest + 1):
  if i % 3 == 0 or i % 5 == 0:
    print("fizz" * (i % 3 == 0), "buzz" * (i % 5 == 0), sep = "")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz

In [125]:
for i in range( 1, dest + 1):
  print(
      'fizzbuzz' if i % 15 == 0 else
      'fizz' if i % 3 == 0 else
      'buzz' if i % 5 == 0 else
      i
  )

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizzbuzz
16
17
fizz
19
buzz